
html {
    height: 100%;
    padding: 0;
}

body {
    font-size: 110%;
    color: #eee;

    background-image: url(background.png);
    background-attachment: fixed;
    background-clip: border-box;
    background-size: cover;
    background-position: bottom center;

    margin: 1% 1% 13% 1%;
}

footer {
    position: fixed;
    bottom: 1%;
    left: 1%;

    padding: 0.4%;
    margin: 0.4%;
    background-color: #000a;
    border-radius: 5px;
}


#fields {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 700px) {
    #fields {
        flex-direction: column;
    }
}

#fields fieldset {
    flex-grow: 1;
    border-radius: 20px;
}

#fields textarea {
    width: 100%;
    min-height: 10em;
    height: auto;
    resize: vertical;
    overflow: auto;

    background-color: #000a;
    color: #ccc;
    font-size: 1.2em;
    padding: 1%;
    width: 98%;
}

#encodingButtons {
    margin: 0 1%;
    text-align: center;
}


#stdout {
    background-color: #0004;
    padding: 1%;
    border-radius: 10px;
}
